# .desktop entry for QXmlEdit
[Desktop Entry]
Type=Application
Name=QXmlEdit
Exec=QXmlEdit %u
Version=1.0
GenericName=XML editor and XSD viewer.
GenericName[it]=Editor XML e visualizzatore XSD.
NoDisplay=false
Comment=Edit XML files and view XSD documents.
Icon=qxmledit
Hidden=false
#Path
Terminal=false
MimeType=text/xml;
Categories=Utility;Qt;Development;TextEditor;

