# .desktop entry for QXmlEdit
[Desktop Entry]
Type=Application
Name=QXmlEdit
Exec=qxmledit %u
Version=1.0
GenericName=Simple XML editor and XSD viewer.
GenericName[it]=Semplice editor XML e visualizzatore XSD.
GenericName[ru]=Простой редактор XML
NoDisplay=false
Comment=Edit XML files and view XSD documents.
Icon=qxmledit
Hidden=false
StartupNotify=true
#Path
Terminal=false
MimeType=text/xml;
Categories=Utility;Qt;Development;TextEditor;

