QLabel {
    border: 1px solid #8080FF;
    border-radius:6px;
    padding:2px;
    margin:0px;
    background-color: qlineargradient(spread:pad, x1:0.469613, y1:1, x2:0.48563, y2:0.477, stop:0 #1B80F0, stop:1 #7899F0);
}

QLabel:hover {
    background-color: qlineargradient(spread:pad, x1:0.469613, y1:1, x2:0.48563, y2:0.477, stop:0 rgba(128, 128, 128, 255), stop:1 rgba(192, 192, 192, 255));
    border-color: #C02020;
}

QLabel:!enabled {
    background-color: #000080;
    border-color: #000000;
    color: #808080;
}

.textKey {
    font-size:10pt;
    font-weight:600;
    color:#FFFFFF;
}

.textDescr {
    font-size:9pt;
    color:#FFFFFF;
}
